<div class="divSpinner" *ngIf=showSpinner>
  <img src="../assets/Loading.gif">
</div>

<app-header></app-header>

<div *ngIf=!showSpinner>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-6" style="margin-left: 3rem; margin-top: 1rem;"
      *ngFor="let photo of pageImages; let i = index">
      <img *ngIf="i<10" style="cursor:pointer" width="200" height="200" class="img-fluid img-thumbnail"
        src="{{photo.cropped_picture}}" (click)="showImage(photo,i)" (load)="loaded()">
    </div>
  </div>
  <div *ngIf="zoomEnable===false" class="div-paginator">
    <ngb-pagination [collectionSize]="totalPages" [(page)]="defaultpage" [maxSize]="5" aria-label="Default pagination"
      (pageChange)="onPaginationClick($event)"></ngb-pagination>
  </div>

</div>
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tableindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height:100%;width:100%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="hideImage()">&times;</button>
      </div>
      <div class="container">
        <div class="modal-body">
          <div class="imgPreview">
            <img class="zoom" src="{{previewImgSrc}}" id="imagepreview">
          </div>
          <div class="detailsImage">
            <div class="text" style="font-size: small; display: inline-block;"> <b>Author:</b>
              {{currentPhotoDetails.author}}</div>
            <div class="text" style="font-size: small; display: inline-block;">&nbsp; <b>Camera:</b>
              {{currentPhotoDetails.camera}}</div>
            <div class="text" style="font-size: small;">{{currentPhotoDetails.tags}}</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="center">
          <button class="btn btn-default" [disabled]="spinnerVariable === true" (click)="changeImage(0)">
            <img src="../assets/left-arrow.png" width="20" height="20" />
          </button>
          <button class="btn btn-default" [disabled]="spinnerVariable === true" (click)="changeImage(1)">
            <img src="../assets/right-arrow.png" width="20" height="20" />
          </button>
        </div>
        <button type="button" data-toggle="tooltip" data-placement="top" title="Copy Url"
          [cdkCopyToClipboard]="copyDetails()" class="btn btn-default" style="margin-left: 25rem;">
          <img src="../assets/share.png" width="40" (click)="onCopyDetails()">
        </button>
        <div *ngIf="showAlertCopy" class="alert alert-primary" role="alert">
          URL copied to clipboard !
        </div>
      </div>
    </div>
  </div>
</div>